*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.padre{
    padding: 4px 16px;
    display: flex;
    flex-wrap: nowrap;
}

.logo{
    display: flex;
    flex-wrap: nowrap;
    width: 10px;
}

.logo input{
    width: 20px;
    height: 10px;
}

.busqueda{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.busqueda input{
    width: 1000px;
    height: 50px;
    background-color: #e9e9e9;
    border-radius: 50px;
    display: flex;
}

.button{
    background: black;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 60px;
}

a:hover {
    color: black;
    cursor: pointer;
    background-color: hwb(187 90% 7%);
    border-color: hwb(187 90% 7%);
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    width: 60px;
}

.nav_enlace{
    background: rgb(236, 234, 234);
    color:black;
    padding: 10px 30px;
}

.superior{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-content: center;
}

.opciones_derecha{
    display: flex;
}

.imagenes{
    bottom: unset;
}

#imagenes:hover{
    filter: blur(10px);
}
